<ion-header>
  <ion-toolbar>
    <ion-title>Pengalaman AMBW</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pengalaman</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Pengalaman saya mengikuti kelas AMBW ini adalah saya merasa mirip seperti kelas PPM dengan tingkat kesulitan yang lebih tinggi baik dari sisi soal maupun latihan.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Kritik</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Saya tidak punya hal untuk dikritik.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Saran</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Saran saya adalah sebaiknya lebih cepat diselesaikan mengenai IONIC agar ada waktu lebih untuk belajar REACT bila memungkinkan :) sebagai tambahan pengalaman bahasa pemrograman.
    </ion-card-content>
  </ion-card>
</ion-content>
